.header__lang-link {
  width: 30px;
  text-decoration: none;
  font-size: 24px;
  line-height: 96%;
  font-weight: 400;
  text-align: right;
  color: #FFFFFF;
  font-family: "Inter";
  transition: filter 1s;
}

.header__lang-link:hover {
  background-color: #2A2C2F;
  filter: opacity(60%);
}

@media screen and (max-width: 425px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 92%;
    width: 22px;
  }
}