.place__paragraph__container {
  grid-area: paragraph;
  display: flex;
  flex-direction: column;
  gap: 26px;
  max-width: 484px;
}

@media screen and (max-width: 425px) {
  .place__paragraph__container {
    max-width: 288px;
    margin-left: 16px;
    margin-right: 16px;
  }
}