.place__container {
  grid-area: paragraph;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

@media (max-width: 767px) {
  .place__container {
    margin-left: 16px;
    margin-right: 16px;
  }
}