.places {
  display: flex;
  position: relative;
  justify-content: center;
  margin: 0;
  margin-left: 148px;
  margin-right: 148px;
  margin-top: 92px;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .places {
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media screen and (max-width: 768px) and (min-width: 425px) {
  .places {
    margin-top: 88px;
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 425px) {
  .places {
    margin-top: 64px;
    margin-left: 0;
    margin-right: 0;
  }
}