.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-top: 28px;
  margin-left: 48px;
  margin-right: 48px;
}

@media (max-width: 1023px) {
  .header {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media (max-width: 767px) {
  .header {
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
  }
}