.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding-top: 28px;
  margin-left: 48px;
  margin-right: 48px;
}

@media screen and (max-width: 768px) and (min-width: 425px) {
  .header {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    padding-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
  }
}