.place__paragraph {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 163%;
  color: #FFFFFF;
  grid-area: paragraph;
}

@media screen and (max-width: 768px) and (min-width: 425px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 163%;
  }
}