.place__paragraph {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  color: #FFFFFF;
  font-family: "Inter", sans-serif;
  grid-area: paragraph;
  max-width: 484px;
}

@media (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}

@media (max-width: 767px) {
  .place__paragraph {
    max-width: 288px;
  }
}