.cover {
  position: relative;
  margin: 92px 48px;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .cover {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) and (min-width: 425px) {
  .cover {
    margin-top: 90px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    margin-top: 66px;
    margin-bottom: 64px;
    margin-left: 0;
    margin-right: 0;
  }
}