@font-face {
  font-family: "Inter";
  src: url("../vendor/fonts/Inter-Regular.otf") format("otf");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("../vendor/fonts/Inter-Bold.otf") format("otf");
  font-weight: 900;
}

@font-face {
  font-family: "Inter";
  src: url("../vendor/fonts/Inter-Black.otf") format("otf");
  font-style: Black;
}

.root {
  min-width: 1280px;
  margin: auto;
  background-color: #2A2C2F;
  font-family: "Inter";
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding-top: 28px;
  margin-left: 48px;
  margin-right: 48px;
}

.header__logo {
  width: 176px;
  height: 52px;
}

.header__lang-links {
  display: flex;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  gap: 18px;
  list-style: none;
}

.header__lang-link {
  width: 30px;
  text-decoration: none;
  font-size: 24px;
  line-height: 96%;
  font-weight: 400;
  text-align: right;
  color: #FFFFFF;
  transition: filter 1s;
}

.header__lang-link:hover {
  background-color: #2A2C2F;
  filter: opacity(60%);
}

.lead {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin-left: 148px;
  margin-right: 148px;
  margin-top: 74px;
}

.lead__title {
  width: 720px;
  margin: 0;
  margin-bottom: 32px;
  font-size: 96px;
  line-height: 86%;
  font-weight: 900;
  text-align: center;
  color: #FFFFFF;
}

.lead__subtitle {
  width: 640px;
  height: 72px;
  margin: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 99%;
  text-align: center;
  color: #FFFFFF;
}

.lead__image {
  width: 100%;
  object-fit: cover;
  margin: 0;
  margin-top: 64px;
  margin-bottom: 8px;
}

.lead__caption {
  align-self: flex-start;
  min-width: 158px;
  margin: 0;
  height: 14px;
  font-size: 10px;
  font-weight: 400;
  line-height: 116%;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.intro {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 690px;
  margin: 0;
  margin-left: 148px;
  margin-top: 74px;
  margin-bottom: 92px;
}

.intro__title {
  margin: 0px;
  font-size: 54px;
  font-weight: 900;
  line-height: 89%;
  color: #FFFFFF;
}

.intro__text {
  margin: 0;
  margin-top: 40px;
  margin-bottom: 33px;
  font-size: 16px;
  font-weight: 400;
  line-height: 163%;
  color: #FFFFFF;
}

.intro__list {
  font-size: 12px;
  font-weight: 700;
  line-height: 124%;
  color: #FFFFFF;
  list-style: none;
  margin: 0;
  padding: 0;
}

.intro__list__num {
  font-weight: 400;
}

.photo-grid {
  display: grid;
  position: relative;
  margin-left: 48px;
  margin-right: 48px;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.photo-grid__item {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.places {
  display: flex;
  position: relative;
  justify-content: center;
  margin: 0;
  margin-left: 148px;
  margin-right: 148px;
  margin-top: 92px;
}

.place__container {
  margin: 0;
  padding: 0;
}

.place {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
  list-style: none;
  margin-bottom: 80px;
  grid-template-areas:
    "title website"
    "image paragraph";
}

.place__title {
  margin: 0px;
  margin-bottom: 48px;
  max-width: 460px;
  font-weight: 900;
  font-size: 72px;
  line-height: 87%;
  color: #FFFFFF;
  grid-area: title;
}

.place__image {
  width: 100%;
  grid-area: image;
  object-fit: cover;
}

.place__paragraph {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 163%;
  color: #FFFFFF;
  grid-area: paragraph;
}

.place__paragraph__container {
  grid-area: paragraph;
  display: flex;
  flex-direction: column;
  gap: 26px;
  max-width: 484px;
}

.place__website {
  grid-area: website;
  margin-bottom: 48px;
  align-self: end;
}

.place__website__url-heading {
  margin: 0;
  margin-bottom: 12px;
  font-size: 12px;
  font-weight: 400;
  line-height: 83%;
  letter-spacing: 2px;
  color: #AAAAAA;
}

.place__website__link {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 101%;
  color: #FFFFFF;
  transition: filter 1s;
}

.place__website__link:hover {
  background-color: #2A2C2F;
  filter: opacity(60%);
}

.cover {
  position: relative;
  margin-left: 48px;
  margin-right: 48px;
  margin-top: 92px;
}

.cover__link {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.cover__background {
 object-fit: cover;
 width: 100%;
}

.cover__overlay {
  color: #2A2C2F;
  opacity: 70%;
  transition: filter 1s;
}

.cover__overlay:hover {
  filter: opacity(70%);
}

.cover__container {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.cover__title {
  max-width: 560px;
  margin: 0;
  font-size: 72px;
  line-height: 87%;
  font-weight: 900;
  text-align: center;
  color: #FFFFFF;
  font-style: Black;
}

.cover__subtitle {
  max-width: 360px;
  margin: 0;
  font-size: 18px;
  line-height: 101%;
  font-weight: 400;
  text-align: center;
  color: #FFFFFF;
}

.footer {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 48px;
  margin-right: 48px;
  margin-top: 92px;
  bottom: 24px;
}

.footer__links {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 18px;
}

.footer__link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 93%;
  color: #FFFFFF;
  transition: filter 1s;
}

.footer__link:hover {
  background-color: #2A2C2F;
  filter: opacity(60%);
}

.footer__copyright {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #FFFFFF;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .lead {
    margin-top: 48px;
    margin-left: 48px;
    margin-right: 48px;
  }

  .lead__image {
    margin-top: 56px;
  }

  .intro {
    margin-top: 92px;
    margin-left: 48px;
  }

  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .places {
    margin-left: 48px;
    margin-right: 48px;
  }

  .cover {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) and (min-width: 425px) {
  .header {
    margin-left: 24px;
    margin-right: 24px;
  }

  .lead {
    margin-left: 0;
    margin-right: 0;
  }
  
  .intro {
    margin-top: 88px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 88px;
  }

  .intro__title {
    max-width: 720px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .intro__text {
    max-width: 720px;
  }

  .intro__list {
    max-width: 720px;
  }

  .photo-grid {
    margin-left: 24px;
    margin-right: 24px;
    grid-template-columns: repeat(2, 1fr);
  }

  .places {
    margin-top: 88px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .place__title {
    font-size: 42px;
    line-height: 90.5%;
  }

  .place__paragraph {
    font-size: 16px;
    line-height: 163%;
  }

  .cover {
    margin-top: 90px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .footer {
    margin-top: 88px;
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    padding-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .header__logo {
    width: 142px;
    height: 42px;
  }

  .header__lang-link {
    font-size: 18px;
    line-height: 92%;
    width: 22px;
  }

  .lead {
    margin-top: 48px;
    margin-left: 0;
    margin-right: 0;
  }

  .lead__image {
    margin-top: 40px;
  }

  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 91%;
    margin-left: 16px;
    margin-right: 16px;
  }

  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .intro {
    margin-top: 64px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 64px;
  }

  .intro__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 90%;
  }

  .intro__text {
    max-width: 288px;
  }

  .intro__list {
    max-width: 288px;
  }

  .photo-grid {
    margin-left: 16px;
    margin-right: 16px;
    grid-template-columns: repeat(1, 1fr);
  }

  .places {
    margin-top: 64px;
    margin-left: 0;
    margin-right: 0;
  }

  .place {
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    margin-bottom: 64px;
    gap: 32px;
    grid-template-areas:
      "title"
      "website"
      "image"
      "paragraph";
  }

  .place__website {
    margin-bottom: 0;
    margin-left: 16px;
    margin-right: 16px;
  }

  .place__paragraph__container {
    max-width: 288px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .place__title {
    font-size: 32px;
    line-height: 90%;
    margin-bottom: 0;
    margin-left: 16px;
    margin-right: 16px;
  }

  .cover {
    margin-top: 66px;
    margin-left: 0;
    margin-right: 0;
  }

  .cover__title {
    font-size: 32px;
    line-height: 90%;
  }

  .cover__subtitle {
    font-size: 14px;
    line-height: 94%;
  }

  .footer {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 16px;
    gap: 48px;
  }

  .footer__links {
    flex-direction: column;
    gap: 32px;
  }

  .footer__link {
    font-size: 24px;
    line-height: 83%;
  }

  .footer__copyright {
    line-height: 83%;
  }
}

