.cover__background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 740px;
  width: 100%;
  text-decoration: none;
  transition: filter 1s;
  z-index: 1;
}

.cover__background::before {
  content: "";
  background: #2A2C2F;
  opacity: 30%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 1s;
}

.cover__background:hover:before {
  opacity: 0.8;
}

@media (max-width: 1279px) {
  .cover__background {
    min-height: 640px;
  }
}

@media (max-width: 1023px) {
  .cover__background {
    min-height: 480px;
  }
}

@media (max-width: 767px) {
  .cover__background {
    min-height: 200px;
  }
}