.place__url-heading {
  margin: 0 0 12px;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #AAAAAA;
  font-family: "Inter", sans-serif;
}